# docker-compose
PROJECT=open-meteo

# Django
SECRET_KEY='Django secrete key'
SERVER_PORT=8000

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# to use django locally (not in container) with postgres - change postgres host to `localhost`
POSTGRES_HOST=db

# Rapidoc
RAPIDOC_PORT=9000
